<form action="/" method="POST">
<input type="text" name="year" placeholder="year">
<input type="text" name="make" placeholder="make">
<input type="text" name="model" placeholder="model">
<input type="text" name="image" placeholder="Image">

<button type="submit">Add new car</button>
</form>