<form action="POST">
<input type="text" name="year" placeholder="year">
<input type="text" name="make" placeholder="make">
<input type="text" name="model" placeholder="model">
<button type="submit">Add new car</button>
</form>